.AddCliente {
  background: rgba(41, 100, 228, 0.2);
  margin: 15px 0;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid rgba(41, 100, 228, 0.5);
}
.Add-title {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background: #2964e4;
  width: 100%;
  display: block;
  border-radius: 10px 10px 0 0;
  padding: 5px;
}
.AddCliente-container {
  display: flex;
  margin-top: 5px;
  padding: 10px;
}
.inputs {
  display: flex;
  flex-direction: column;
  position: relative;
}
.inputs input {
  display: block;
  min-width: 250px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: none;
  padding: 10px 15px;
}
.inputs input:focus {
  outline: none;
}
.AddCliente-btn {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background: #2964e4;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.AddCliente-btn:hover {
  color: #2964e4;
  background: #fff;
}
.buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.CpfGen {
  position: absolute;
  bottom: 6px;
  right: 5px;
  cursor: pointer;
}
.CpfGen:hover {
  color: #89cd23;
}
