.App {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.footer-msg {
  position: absolute;
  bottom: -50px;
  left: 0;
  right: 0;
  font-size: 14px;
  width: 100%;
  text-align: center;
  color: #fff;
  font-family: monospace;
}
.App-box {
  max-width: 800px;
  min-width: 400px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  /* grid-template-rows: 40px 100px 1fr; */
  height: 80%;
  background: #fff;
  padding: 30px;
  border-radius: 20px;
  position: relative;
}
.empty-msg {
  font-weight: bold;
  color: #430087;
}
.App-logo {
  width: 100%;
  text-align: center;
}
.App-logo img {
  width: 150px;
}

.App-ListaClientes {
  height: 100%;
  max-height: 100%;
  overflow: auto;
}

.App-cliente {
  background: #430087;
  margin-bottom: 10px;
  padding: 10px 20px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 40px 1fr 40px;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  color: #fff;
}

.App-cliente:hover {
  background: #2d005a;
}
.Cliente-info {
  display: flex;
  flex-direction: column;
}
.Cliente-account {
  color: #fff;
}
.Cliente-email {
  font-weight: bold;
  overflow-x: hidden;
  width: 100%;
  display: block;
}

.App-btn-delete {
  border-radius: 50px;
  border: none;
  text-align: center;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #eb2d2d;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.App-btn-delete:hover {
  background: #eb2d2d;
  color: #fff;
}

.App-error {
  position: absolute;
  top: -50px;
  right: 0;
  left: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 50%;
  background: #e17878;
  border-radius: 5px;
  border: 1px solid #eb2d2d;
  transition: all 0.2s ease-in-out;
}

::-webkit-scrollbar {
  width: 14px;
}
::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 30px;
  box-shadow: inset 0 0 14px 14px #430087;
  border: solid 4px transparent;
  border-top: none;
  border-bottom: none;
}
::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 0 0 14px 14px #2d005a;
}
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 30px;
  box-shadow: inset 0 0 14px 14px transparent;
  border: solid 4px transparent;
}
